*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(176, 176, 116);
}
header{
    background-color: rgb(255, 255, 136);
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: dashed 5px black;
    border-right: dashed 5px black;
    border-bottom: dashed 5px black;
    margin-bottom: 500px;
}
#Navegação{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-left: 900px;
    padding-top: 25px;
    display: inline-block;
}
.Link{
    text-decoration: none;
    color: black;
    padding-left: 50px;
}
#Logo{
    margin-left: 100px;

}
section{
    background-color: rgb(255, 255, 136);
    border-radius: 20px;
    border: solid yellow 5px;
    width: 80%;
    height: fit-content;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
section img{
    border-radius: 20px;
    width: 400px;
    margin-left: 55%;
    border: solid 5px yellow;
}
#Nossosclientes ul{
    list-style: none;
    display: flex;
    overflow-x: auto;
}
.pessoa{
    width: 250px;
    text-align: center;
    background-color: rgb(255, 255, 136);
    border-radius: 20px;
    border: solid 5px black;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 220px;
    overflow-y: hidden;
    transition: ease;
    transition-duration: 1s;
}
.pessoa:hover{
    height: fit-content;
    width: 250px;
    transition: ease-out;
    transition-duration: 1s;
}
.pessoa img{
    height: 200px;
    width: 200px;
    margin: 0;
    
}