*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(234, 234, 110);
    display: flex;
}
section{
    border-radius: 20px;
    border: rgb(34, 34, 34) solid 5px;
    background-color: rgb(255, 255, 255);
}
#adicionar{
    width: 600px;
    height: 400px;
    margin-left: 150px;
    margin-top: 100px;
    padding: 25px;
}
#lista{
    width: 300px;
    height: fit-content;
    margin-top: 100px;
    margin-left: 50px;
    padding: 25px;
}
select{
    width: 100%;
}
.titulo{
    margin-left: 25%;
    background-color: rgb(255, 255, 255);
    border: solid black 2.5px;
    border-radius: 30px;
    width: fit-content;
    padding: 5px;
    margin-bottom: 10px;
}
#TOTAL{
    border: rgb(34, 34, 34) solid 2.5px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
.textbox{
    border-radius: 5px;
    padding: 5px;
}